---
import Layout from '../layouts/PortfolioLayout.astro';

import { Image } from 'astro:assets';
import mitchell from '../images/mitchell.jpg'
import AllCaseStudies from '../components/AllCaseStudies.astro';

---

<Layout title="Mitchell's CS1300 Portfolio">
	<main>
		<section class="introduction">
			<div class="introduction-text">
				<h2>Hey I'm Mitchell.</h2>
				<p>
					Full-stack software engineer with an eye for detail and quality. 
					Able to don many different hats, from designing web interfaces to implementing distributed communication processes. 
					Always learning.
				</p>
			</div>
			<Image alt="Headshot of Mitchell" src={mitchell} width={300} />
		</section>
		
		<AllCaseStudies />
	</main>
</Layout>

<style>
	.introduction {
		width: 750px;
		margin: 3rem auto;
		margin-bottom: 8rem;
		display: flex;
		align-items: center;
	}

	.introduction-text {
		font-size: var(--fs-400);
		margin: 0 2rem;
	}
</style>