<header>
  <nav>
    <a href="/cs1300-portfolio">Mitchell</a>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Resume</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-600);
  }

  a {
    text-decoration: none;
    font-family: var(--ff-accent);
    color: var(--clr-grey);
  }

  ul {
    display: flex;
    li {
      padding: 0 1rem;
    }
  }
</style>