---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Responsive Redesign Case Study'>
  <main>
      <h1>Responsive Redesign of GCC's homepage</h1>
      <section>
        <h2>Summary</h2>
        <p>
          I sought to redesign the home page for the
          <a href="https://gcc.gnu.org/"
            >GCC (GNU Compiler Collection) project</a
          >
          to make it more responsive and accessible. I chose this site because I
          think, more often than not, the presentation of documentation for
          software engineering tools is neglected and has room for improvement.
        </p>
      </section>
      <img
        src="assets/existing-site.png"
        alt="Screenshot of current GCC homepage"
      />
      <section>
        <h2>Problems with existing site</h2>
      </section>
    </main>
</Layout>